<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/about/">Home</a></td>
        <td><a href="{{site.baseurl}}/goals/">Goals</a></td>
        <td><a href="{{site.baseurl}}/snake/">Snake</a></td>
        <td><a href="{{site.baseurl}}/javascript/">Javascript</a></td>
        <td><a href="{{site.baseurl}}/newspaper/">Javascript</a></td>
        <td><a href="{{site.baseurl}}/fun/">Fun</a></td>
        <td><a href="{{site.baseurl}}/RunningFromTheMongols/">Running From The Mongols</a></td>
    </tr>
</table>